.login-container
	.jumbotron.text-center.palette-clouds
		h1 Remember good days
		p Login with your Instagram account <br> to create your own mosaic
		button.button.btn.btn-lg.btn-inverse(ng-click="login()" type='button') 
			span.fui-instagram
			span Login with Instagram