.my-container(ng-controller='MainController')
    div(id='datetime')
        h1 {{ date.raw | date:'hh mm ss' }}
        h2 {{ date.raw | date:'EEEE, MMMM yyyy' }}
        

.images-container(ng-controller='ImagesController')
    .box-image(ng-repeat='image in ImagesUrl track by $index')
        img(src='{{image}}')

.settings(ng-controller='MainController')
    button.btn.btn-default.btn-lg(ng-click="go('/settings')" type='button')
      span.glyphicon.glyphicon-star(aria-hidden='true') Settings

        
