std-border-radius = 6px

html, body

    width 100%
    height 100%
    background-color black
    overflow-x hidden
    overflow-y hidden

.my-container

    display -webkit-box
    display -moz-box      
    display -ms-flexbox
    display -webkit-flex 
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%

#datetime
    position relative
    text-align center
    z-index 100
    background-color rgba(0,0,0,0.5)
    width 100%
    height 100%

    .info h1
        padding-left 5px
        padding-right 5px
        font-size 2.8em
        color white

    .info h2 
        font-size 1em
        color white
    
    img
        position relative
        z-index 999

.info
    position absolute
    height 100%
    top 0
    left 0
    right 0
    margin-left auto
    margin-right auto 

.images-container
    width 100%
    height 100%
    display -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
    display -moz-box         /* OLD - Firefox 19- (buggy but mostly works) */
    display -ms-flexbox      /* TWEENER - IE 10 */
    display -webkit-flex 
    display flex
    flex-direction row
    flex-wrap wrap
    position absolute
    top 0px
    left 0px
    align-items center
    justify-content center

.ng-hide-add, .ng-hide-remove
    display block !important

.fadeIn
    opacity 1

.fade
    transition 0.5s ease all
    height 33.3%
    width auto

.box-image

    height 33.333333%
    margin 0
    padding 0
    overflow hidden
    display inline

    img
    
        position relative
        height 100%

.transparent
    opacity 0.3

.settings
    position absolute
    bottom 5px
    right 5px

    .fui-power
        margin-right 5px

.user-info
    padding 50px
    
    h5
        color white
        
    img
        height 75px
        width 75px
        border-radius 100%
        border 1px solid white
        
//Login page
.login-container
    position absolute
    width 100%
    height 100%
    display -webkit-box
    display -moz-box      
    display -ms-flexbox
    display -webkit-flex 
    display flex
    align-items center
    justify-content center
    background-image url('../assets/images/default_mosaic.jpg')
    background-size cover
    background-repeat no-repeat
    
    .jumbotron.text-center
        max-width 50%
        border-radius std-border-radius
        padding 3%
        margin 0
        color #2C3E50
        
        h1
            margin-top 0
            font-size 2em
        
        p
            font-size 1em
            margin-bottom 10%
        
        span.fui-instagram
            margin-right 5px
        
