html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}
.my-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#datetime {
  text-align: center;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#datetime .info h1 {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2.8em;
  color: #fff;
}
#datetime .info h2 {
  font-size: 1em;
  color: #fff;
}
.info {
  position: relative;
  height: 100%;
}
.images-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
}
.ng-hide-add,
.ng-hide-remove {
  display: block !important;
}
.fadeIn {
  opacity: 1;
}
.fade {
  transition: 0.5s ease all;
  height: 33.3%;
  width: auto;
}
.box-image {
/*width 300px
    height 300px*/
  height: 33.333333%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}
.box-image img {
  height: 100%;
}
.transparent {
  opacity: 0.3;
}
.settings {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.user-info {
  padding: 50px;
}
.user-info h5 {
  color: #fff;
}
.user-info img {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  border: 1px solid #fff;
}
